<ion-view hide-nav-bar="true">
    <ux-header></ux-header>
    <ion-content class="padding about-bgImage">
        <div class="full-image">
            <div class="row row-center">
            <tmc-Phone-Long class="col col-center text-center no-padding" phone="7705620632"></tmc-Phone-Long>
            <div class="col text-center no-padding">
            <tmc-Yos></tmc-Yos>
            </div>
            </div>
        </div>
        <div class="full-image">
            <tmc-about-info src="img/lori_hudson_blank.png"
items='
[
    {"col1":"Walkings <br class=\"portrait\"/>Welcome"},
    {"col1":"Short Wait Times"},
    {"col1":"Whole Family Care"},
    {"col1":"Wellness / Sick Visits"},
    {"col1":"Sports Physicals"},
    {"col1":"Lori Hudson, FNP"}
]
' >
                <h1>tmc-aboutinfo goes here</h1>
            </tmc-about-info>
        </div>    
    </ion-content>
</ion-view>
