<ion-view hide-nav-bar="true">
    <ux-header></ux-header>
    <ion-content class="padding centered">
        <div id="homePortrait">
                <div class="row">
                    <div class="col text-center">
                        <img style="max-width: 100%" src="img/background.jpg"/>    
                    </div>
                </div>
                <div class="row" ng-repeat="day in days">
                    <div class="col text-left homeDOW">{{day.name}}</div>
                    <div class="col text-right homeHours">{{day.hours}}</div>
                </div>
        </div>
        <div id="homeLandscape">
            <div class="row">
                <div class="col col-center">
                    <img style="max-width: 100%" src="img/background.jpg"/>    
                </div>
                <div class="col col-center">
                    <div class="row" ng-repeat="day in days">
                        <div class="col text-left homeDOW">{{day.name}}</div>
                        <div class="col text-right homeHours">{{day.hours}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
