<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets" 
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.ericdecoff.tmc"
		version = "5.2.0"
		versionCode = "520">

    <name>Temple Medical</name>

    <description>
 	   Temple Medical Clinic	
    </description>

    <author href="http://ericdecoff.com" email="ericdecoff@gmail.com">Eric DeCoff</author>
    
    <!-- PLUGINS -->
    <gap:plugin name="cordova-plugin-console" source="npm"/>
    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <gap:plugin name="ionic-plugin-keyboard" source="npm"/>
    
    <gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/> 
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    
    <gap:plugin name="pushwoosh-pgb-plugin" source="npm" />
    <!--
    <gap:plugin name="cordova-plugin-device" source="npm"/>
    <gap:plugin name="cordova-plugin-media" source="npm"/>
    
    <gap:plugin name="cordova-plugin-dialogs" source="npm"/>
    <gap:plugin name="cordova-plugin-vibration" source="npm" />
    <gap:plugin name="com.pushwoosh.plugins.pushwoosh" />
    
    <gap:plugin name="de.appplant.cordova.plugin.email-composer" />
    -->
    
    <!-- ICONS -->
    <icon src="icon.png" /> <!-- default 512 pixels -->
    
    <!-- iOS6 -->
    <icon src="Resources/iphone/appicon.png" gap:platform="ios" width="57" height="57" />
    <icon src="Resources/iphone/appicon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="Resources/iphone/appicon@2x.png" gap:platform="ios" width="114" height="114" />
    <icon src="Resources/iphone/appicon-72@2x.png" gap:platform="ios" width="144" height="144" />    
    
    <!-- iOS7 -->
    <icon src="Resources/iphone/appicon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="Resources/iphone/appicon-60@2x.png" gap:platform="ios" width="120" height="120" />
    <icon src="Resources/iphone/appicon-76@2x.png" gap:platform="ios" width="152" height="152" />
        
    <icon src="platform/android/res/drawable-ldpi/appicon.png" gap:platform="android" gap:density="ldpi" />
    <icon src="platform/android/res/drawable-mdpi/appicon.png" gap:platform="android" gap:density="mdpi" /> 
    <icon src="platform/android/res/drawable-hdpi/appicon.png" gap:platform="android" gap:density="hdpi" />
    <icon src="platform/android/res/drawable-xhdpi/appicon.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="platform/android/res/drawable-xxhdpi/appicon.png" gap:platform="android" gap:density="xxhdpi" /> 
    <icon src="platform/android/res/drawable-xxxhdpi/appicon.png" gap:platform="android" gap:density="xxxhdpi" />
        
    <icon src="img/icons/winphone/icon.png" gap:platform="winphone" />
    <icon src="img/icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />
        
    <!-- SPLASH SCREENS -->
        
    <gap:splash src="splash.png" />
    
    <!-- non retina -->
    <gap:splash src="Resources/iphone/Default.png" gap:platform="ios" width="320" height="480" />
    <!-- retina 4 -->
    <gap:splash src="Resources/iphone/Default@2x.png" gap:platform="ios" width="640" height="960" />
    <!-- retina 5+ -->
    <gap:splash src="Resources/iphone/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />
        
    <!-- iPad non retina -->    
    <gap:splash src="Resources/iphone/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
    <gap:splash src="Resources/iphone/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />
    <!-- iPad Retina -->
    <gap:splash src="Resources/iphone/Default-Landscape@2x.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="Resources/iphone/Default-Portrait@2x.png" gap:platform="ios" width="1536" height="2008" />
        
    <!-- PLATFORM SELECTION -->
    <gap:platform name="ios" />
        
    <!-- GENERAL PREFERENCES -->
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" /> <!-- remove the upper bar on iOS and Android -->
        
        
    <!-- iOS PREFERENCES -->    
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />
    <!--
    <preference name="deploy-target" value="7.0" />
    -->

    
    <!-- GENERAL PREFERENCES -->
    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="false" /> <!-- remove the upper bar on iOS and Android -->
    
    
    <!-- SplashScreen -->
    <preference name="SplashScreen" value="splash.jpg" /> <!-- defaults to "img/logo.png" -->
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="AutoHideSplashScreen" value="false" />
    
    <preference name="SplashScreenBackgroundColor" value="green" /> <!-- defaults to "#464646" -->
    <preference name="ShowSplashScreen" value="false" /> <!-- defaults to "true" -->
           
    <!-- PHONEGAP API FEATURES PREFERENCES -->        
    <preference name="permissions" value="none"/>

	<!-- PushWoosh Plugin gradle requirement -->
	<preference name="android-build-tool" value="gradle" />

    <!-- Whitelist Access -->
    <access origin="tel:*" launch-external="yes" />
    <access origin="geo:*" launch-external="yes" />
    
    <access origin="*.pushwoosh.com" />
    <access origin="*" />
    
</widget>
